/* media query */


/* large mobile device */

@media screen and (max-width: 425px) {
    .nav-container {
        flex-direction: column;
        height: fit-content;
        align-content: center;
        justify-content: center;
        text-align: center;
        padding: 4rem;
        line-height: 2rem;
    }

    .menu > ul {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .banner-container,
    .vid-cont,
    .ban-cont
    {
        flex-direction: column;
    }

    .bn-img {
        max-width: 90vw;
        max-height: 100vh;
        margin-top: 2rem;
    }

    .gamer-container {
        flex-direction: column-reverse;
        margin-top: 2rem;
    }

    .vid-cont img {
        height: auto;
        width: 90vw;
    }

    .img-2 {
        position: relative;
        bottom: 7rem;
    }

    .ban-cont2 {
        flex-direction: column-reverse;
    }

    #text {
        margin-bottom: 3rem;
    }

    .ban-img {
        position: static;
    }

    .ban-cont {
        height: auto;
    }

    .ban-cont2 {
        height: auto;
    }

    .btn-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: auto;
        justify-content: center;
        margin-left: 15px;
    }

    .btn-itm {
        width: 6rem;
        height: 2rem;
        font-size: 0.3rem;
    }

    .btn-itm img {
        height: 100%;
        width: 40%;
    }

    .foot-menu ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
    }

    .foot-container {
        width: 50vw;
        font-size: small;
        line-height: 15px;
        justify-content: center;
    }

    .foot-icon img {
        width: 7%;
    }

    #fml {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        margin-top: 15px;
    }
}


/* tablet device */

@media screen and (min-width: 426px) and (max-width: 768px) {
    .banner-container {
        flex-direction: column;
    }

    .bn-img {
        max-width: 100vw;
        max-height: 100vh;
        margin-top: 2rem;
    }

    .gamer-container {
        flex-direction: column-reverse;
        margin-top: 2rem;
    }
}